## Ucitavanje i Sredjivanje Nizova Podataka

In [6]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [13]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("epl-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("epl-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("epl-2025.csv")

## Ukidanje Duplih Vrijednosti za Nazive Klubova

In [14]:
#za sezonu 25 6
df_25_6["Home Team"] = df_25_6["Home Team"].replace("Nott'm Forest", 'Nottingham Forest')
df_25_6["Away Team"] = df_25_6["Away Team"].replace("Nott'm Forest", 'Nottingham Forest')
#za sezonu 24 5
df_24_5["Home Team"] = df_24_5["Home Team"].replace("Nott'm Forest", 'Nottingham Forest')
df_24_5["Away Team"] = df_24_5["Away Team"].replace("Nott'm Forest", 'Nottingham Forest')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [15]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(80)
df_25_6.tail(5)

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
75,78,8,18/10/2025 15:00,Stadium of Light,Sunderland,Wolves,2 - 0
76,74,8,18/10/2025 17:30,Craven Cottage,Fulham,Arsenal,0 - 1
77,79,8,19/10/2025 14:00,Tottenham Hotspur Stadium,Spurs,Aston Villa,1 - 2
78,75,8,19/10/2025 16:30,Anfield,Liverpool,Man Utd,1 - 2
79,80,8,20/10/2025 20:00,London Stadium,West Ham,Brentford,0 - 2

In [16]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [17]:
df_BL["Home Team"].unique()

array(['Burnley', 'Arsenal', 'Bournemouth', 'Brighton', 'Everton',
       'Sheffield Utd', 'Newcastle', 'Brentford', 'Chelsea', 'Man Utd',
       'Nottingham Forest', 'Fulham', 'Liverpool', 'Wolves', 'Spurs',
       'Man City', 'Aston Villa', 'West Ham', 'Crystal Palace', 'Luton',
       'Ipswich', 'Leicester', 'Southampton', 'Sunderland', 'Leeds'],
      dtype=object)

In [18]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
75,78,8,18/10/2025 15:00,Stadium of Light,Sunderland,Wolves,2 - 0
76,74,8,18/10/2025 17:30,Craven Cottage,Fulham,Arsenal,0 - 1
77,79,8,19/10/2025 14:00,Tottenham Hotspur Stadium,Spurs,Aston Villa,1 - 2
78,75,8,19/10/2025 16:30,Anfield,Liverpool,Man Utd,1 - 2
79,80,8,20/10/2025 20:00,London Stadium,West Ham,Brentford,0 - 2

## Predprocesovanje Niza Podataka

In [19]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(840, 3)

In [20]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [21]:
df_BL.to_csv("epl.csv")
df_BL

              H                  A Result
0       Burnley           Man City  0 - 3
1       Arsenal  Nottingham Forest  2 - 1
2   Bournemouth           West Ham  1 - 1
3      Brighton              Luton  4 - 1
4       Everton             Fulham  0 - 1
..          ...                ...    ...
75   Sunderland             Wolves  2 - 0
76       Fulham            Arsenal  0 - 1
77        Spurs        Aston Villa  1 - 2
78    Liverpool            Man Utd  1 - 2
79     West Ham          Brentford  0 - 2

[840 rows x 3 columns]

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [23]:
df_domacin.columns

Index(['H_Aston Villa', 'H_Bournemouth', 'H_Brentford', 'H_Brighton',
       'H_Burnley', 'H_Chelsea', 'H_Crystal Palace', 'H_Everton', 'H_Fulham',
       'H_Ipswich', 'H_Leeds', 'H_Leicester', 'H_Liverpool', 'H_Luton',
       'H_Man City', 'H_Man Utd', 'H_Newcastle', 'H_Nottingham Forest',
       'H_Sheffield Utd', 'H_Southampton', 'H_Spurs', 'H_Sunderland',
       'H_West Ham', 'H_Wolves'],
      dtype='object')

In [24]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [25]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_Aston Villa,H_Bournemouth,H_Brentford,H_Brighton,H_Burnley,H_Chelsea,H_Crystal Palace,H_Everton,H_Fulham,H_Ipswich,...,A_Man City,A_Man Utd,A_Newcastle,A_Nottingham Forest,A_Sheffield Utd,A_Southampton,A_Spurs,A_Sunderland,A_West Ham,A_Wolves
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
836,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
837,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
839,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [26]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [27]:
rez_dom.head()

0    0
1    2
2    1
3    4
4    0
Name: Result, dtype: object

In [28]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [29]:
rez_gost.head()

0    3
1    1
2    1
3    1
4    1
Name: Result, dtype: object

In [30]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [31]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski.tail()

             H            A Result Rez1 Rez2
75  Sunderland       Wolves  2 - 0    2    0
76      Fulham      Arsenal  0 - 1    0    1
77       Spurs  Aston Villa  1 - 2    1    2
78   Liverpool      Man Utd  1 - 2    1    2
79    West Ham    Brentford  0 - 2    0    2

In [32]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [33]:
#df_rezultatski[0:380] #sezona 23/4 od 0:380
#df_rezultatski[380:759] #sezona 24/5 od 380:759
#df_rezultatski[760:] #sezona25/6 od 760:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [34]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [35]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

Kopiraj - Izmjeni celiju ispod sa gore izracunatim vrijednostima indeksa sezona

#df_rezultatski[0:380] #sezona 23/4 od 0:380
#df_rezultatski[380:759] #sezona 24/5 od 380:759
#df_rezultatski[760:] #sezona25/6 od 760:

In [36]:
#sezona 23/4
skor23_4 = skor[0:380]
skor24_5 = skor[380:760]
skor25_6 = skor[760:]

In [37]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_6180\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [38]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_6180\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [39]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [40]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [41]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [42]:
finalna_provjera[-5:-1]

              H            A Rezultat  Skor
835  Sunderland       Wolves    2 - 0   1.0
836      Fulham      Arsenal    0 - 1  -1.0
837       Spurs  Aston Villa    1 - 2  -1.0
838   Liverpool      Man Utd    1 - 2  -1.0

# Konačni df - Podaci su Sređeni

In [43]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [44]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [45]:
df_BL.head(5)

,H_Aston Villa,H_Bournemouth,H_Brentford,H_Brighton,H_Burnley,H_Chelsea,H_Crystal Palace,H_Everton,H_Fulham,H_Ipswich,...,A_Man Utd,A_Newcastle,A_Nottingham Forest,A_Sheffield Utd,A_Southampton,A_Spurs,A_Sunderland,A_West Ham,A_Wolves,Skor
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.71
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.00
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.71
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71

In [46]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_epl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [47]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [48]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_Aston Villa,H_Bournemouth,H_Brentford,H_Brighton,H_Burnley,H_Chelsea,H_Crystal Palace,H_Everton,H_Fulham,H_Ipswich,...,A_Man City,A_Man Utd,A_Newcastle,A_Nottingham Forest,A_Sheffield Utd,A_Southampton,A_Spurs,A_Sunderland,A_West Ham,A_Wolves
482,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
453,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.2236068 , -0.22032632, -0.23005389, ..., -0.0729325 ,
        -0.23635973, -0.2236068 ],
       [-0.2236068 , -0.22032632, -0.23005389, ..., -0.0729325 ,
        -0.23635973, -0.2236068 ],
       [-0.2236068 , -0.22032632, -0.23005389, ..., -0.0729325 ,
        -0.23635973, -0.2236068 ],
       ...,
       [-0.2236068 , -0.22032632, -0.23005389, ..., -0.0729325 ,
        -0.23635973, -0.2236068 ],
       [-0.2236068 , -0.22032632, -0.23005389, ..., -0.0729325 ,
        -0.23635973, -0.2236068 ],
       [-0.2236068 , -0.22032632, -0.23005389, ..., -0.0729325 ,
        -0.23635973, -0.2236068 ]])

In [50]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [51]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [52]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [53]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                784

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 801
Trainable params: 801
Non-trainable params: 0
_________________________________________________________________

In [54]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [55]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
24/24 [==============================] - 6s 94ms/step - loss: 0.7724 - mae: 0.7724 - val_loss: 0.6899 - val_mae: 0.6899
Epoch 2/50
24/24 [==============================] - 1s 26ms/step - loss: 0.7308 - mae: 0.7308 - val_loss: 0.6603 - val_mae: 0.6603
Epoch 3/50
24/24 [==============================] - 1s 26ms/step - loss: 0.6939 - mae: 0.6939 - val_loss: 0.6402 - val_mae: 0.6402
Epoch 4/50
24/24 [==============================] - 1s 30ms/step - loss: 0.6585 - mae: 0.6585 - val_loss: 0.6276 - val_mae: 0.6276
Epoch 5/50
24/24 [==============================] - 1s 33ms/step - loss: 0.6243 - mae: 0.6243 - val_loss: 0.6142 - val_mae: 0.6142
Epoch 6/50
24/24 [==============================] - 1s 27ms/step - loss: 0.5928 - mae: 0.5928 - val_loss: 0.5942 - val_mae: 0.5942
Epoch 7/50
24/24 [==============================] - 0s 15ms/step - loss: 0.5667 - mae: 0.5667 - val_loss: 0.5871 - val_mae: 0.5871
Epoch 8/50
24/24 [==============================] - 0s 15ms/step - loss: 0.5482 - mae: 0.5482 - val_loss: 0.5804 - val_mae: 0.5804
Epoch 9/50
24/24 [==============================] - 0s 16ms/step - loss: 0.5341 - mae: 0.5341 - val_loss: 0.5743 - val_mae: 0.5743
Epoch 10/50
24/24 [==============================] - 0s 13ms/step - loss: 0.5214 - mae: 0.5214 - val_loss: 0.5679 - val_mae: 0.5679
Epoch 11/50
24/24 [==============================] - 0s 14ms/step - loss: 0.5108 - mae: 0.5108 - val_loss: 0.5638 - val_mae: 0.5638
Epoch 12/50
24/24 [==============================] - 0s 14ms/step - loss: 0.5023 - mae: 0.5023 - val_loss: 0.5652 - val_mae: 0.5652
Epoch 13/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4923 - mae: 0.4923 - val_loss: 0.5581 - val_mae: 0.5581
Epoch 14/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4841 - mae: 0.4841 - val_loss: 0.5541 - val_mae: 0.5541
Epoch 15/50
24/24 [==============================] - 0s 11ms/step - loss: 0.4746 - mae: 0.4746 - val_loss: 0.5560 - val_mae: 0.5560
Epoch 16/50
24/24 [==============================] - 0s 15ms/step - loss: 0.4695 - mae: 0.4695 - val_loss: 0.5568 - val_mae: 0.5568
Epoch 17/50
24/24 [==============================] - 0s 19ms/step - loss: 0.4620 - mae: 0.4620 - val_loss: 0.5541 - val_mae: 0.5541
Epoch 18/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4563 - mae: 0.4563 - val_loss: 0.5546 - val_mae: 0.5546
Epoch 19/50
24/24 [==============================] - 0s 15ms/step - loss: 0.4518 - mae: 0.4518 - val_loss: 0.5538 - val_mae: 0.5538
Epoch 20/50
24/24 [==============================] - 0s 20ms/step - loss: 0.4471 - mae: 0.4471 - val_loss: 0.5512 - val_mae: 0.5512
Epoch 21/50
24/24 [==============================] - 0s 17ms/step - loss: 0.4435 - mae: 0.4435 - val_loss: 0.5511 - val_mae: 0.5511
Epoch 22/50
24/24 [==============================] - 0s 12ms/step - loss: 0.4376 - mae: 0.4376 - val_loss: 0.5517 - val_mae: 0.5517
Epoch 23/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4340 - mae: 0.4340 - val_loss: 0.5536 - val_mae: 0.5536
Epoch 24/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4286 - mae: 0.4286 - val_loss: 0.5524 - val_mae: 0.5524
Epoch 25/50
24/24 [==============================] - 0s 18ms/step - loss: 0.4250 - mae: 0.4250 - val_loss: 0.5553 - val_mae: 0.5553
Epoch 26/50
24/24 [==============================] - 0s 15ms/step - loss: 0.4233 - mae: 0.4233 - val_loss: 0.5520 - val_mae: 0.5520
Epoch 27/50
24/24 [==============================] - 0s 20ms/step - loss: 0.4184 - mae: 0.4184 - val_loss: 0.5571 - val_mae: 0.5571
Epoch 28/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4164 - mae: 0.4164 - val_loss: 0.5576 - val_mae: 0.5576
Epoch 29/50
24/24 [==============================] - 0s 15ms/step - loss: 0.4124 - mae: 0.4124 - val_loss: 0.5587 - val_mae: 0.5587
Epoch 30/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4100 - mae: 0.4100 - val_loss: 0.5579 - val_mae: 0.5579
Epoch 31/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4069 - mae: 0.4069 - val_loss: 0.5611 - val_mae: 0.5611

In [56]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 9ms/step - loss: 0.5511 - mae: 0.5511

In [57]:
#spremanje modela
model.save("epl_float_model.h5")

In [58]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.