## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [5]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("epl-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("epl-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("epl-2025.csv")

## Ukidanje Duplih Vrijednosti za Nazive Klubova

In [6]:
#za sezonu 25 6
df_25_6["Home Team"] = df_25_6["Home Team"].replace("Nott'm Forest", 'Nottingham Forest')
df_25_6["Away Team"] = df_25_6["Away Team"].replace("Nott'm Forest", 'Nottingham Forest')
#za sezonu 24 5
df_24_5["Home Team"] = df_24_5["Home Team"].replace("Nott'm Forest", 'Nottingham Forest')
df_24_5["Away Team"] = df_24_5["Away Team"].replace("Nott'm Forest", 'Nottingham Forest')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [7]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(100)
df_25_6.tail(5)

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
95,99,10,01/11/2025 17:30,Tottenham Hotspur Stadium,Spurs,Chelsea,0 - 1
96,95,10,01/11/2025 20:00,Anfield,Liverpool,Aston Villa,2 - 0
97,100,10,02/11/2025 14:00,London Stadium,West Ham,Newcastle,3 - 1
98,96,10,02/11/2025 16:30,Etihad Stadium,Man City,Bournemouth,3 - 1
99,98,10,03/11/2025 20:00,Stadium of Light,Sunderland,Everton,1 - 1

In [8]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [9]:
df_BL["Home Team"].unique()

array(['Burnley', 'Arsenal', 'Bournemouth', 'Brighton', 'Everton',
       'Sheffield Utd', 'Newcastle', 'Brentford', 'Chelsea', 'Man Utd',
       'Nottingham Forest', 'Fulham', 'Liverpool', 'Wolves', 'Spurs',
       'Man City', 'Aston Villa', 'West Ham', 'Crystal Palace', 'Luton',
       'Ipswich', 'Leicester', 'Southampton', 'Sunderland', 'Leeds'],
      dtype=object)

In [10]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
95,99,10,01/11/2025 17:30,Tottenham Hotspur Stadium,Spurs,Chelsea,0 - 1
96,95,10,01/11/2025 20:00,Anfield,Liverpool,Aston Villa,2 - 0
97,100,10,02/11/2025 14:00,London Stadium,West Ham,Newcastle,3 - 1
98,96,10,02/11/2025 16:30,Etihad Stadium,Man City,Bournemouth,3 - 1
99,98,10,03/11/2025 20:00,Stadium of Light,Sunderland,Everton,1 - 1

## Predprocesovanje Niza Podataka

In [11]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(860, 3)

In [12]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [13]:
df_BL.to_csv("epl.csv")
df_BL

              H                  A Result
0       Burnley           Man City  0 - 3
1       Arsenal  Nottingham Forest  2 - 1
2   Bournemouth           West Ham  1 - 1
3      Brighton              Luton  4 - 1
4       Everton             Fulham  0 - 1
..          ...                ...    ...
95        Spurs            Chelsea  0 - 1
96    Liverpool        Aston Villa  2 - 0
97     West Ham          Newcastle  3 - 1
98     Man City        Bournemouth  3 - 1
99   Sunderland            Everton  1 - 1

[860 rows x 3 columns]

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [15]:
df_domacin.columns

Index(['H_Aston Villa', 'H_Bournemouth', 'H_Brentford', 'H_Brighton',
       'H_Burnley', 'H_Chelsea', 'H_Crystal Palace', 'H_Everton', 'H_Fulham',
       'H_Ipswich', 'H_Leeds', 'H_Leicester', 'H_Liverpool', 'H_Luton',
       'H_Man City', 'H_Man Utd', 'H_Newcastle', 'H_Nottingham Forest',
       'H_Sheffield Utd', 'H_Southampton', 'H_Spurs', 'H_Sunderland',
       'H_West Ham', 'H_Wolves'],
      dtype='object')

In [16]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [17]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_Aston Villa,H_Bournemouth,H_Brentford,H_Brighton,H_Burnley,H_Chelsea,H_Crystal Palace,H_Everton,H_Fulham,H_Ipswich,...,A_Man City,A_Man Utd,A_Newcastle,A_Nottingham Forest,A_Sheffield Utd,A_Southampton,A_Spurs,A_Sunderland,A_West Ham,A_Wolves
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [18]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [19]:
rez_dom.head()

0    0
1    2
2    1
3    4
4    0
Name: Result, dtype: object

In [20]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [21]:
rez_gost.head()

0    3
1    1
2    1
3    1
4    1
Name: Result, dtype: object

In [22]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [23]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski.tail()

             H            A Result Rez1 Rez2
95       Spurs      Chelsea  0 - 1    0    1
96   Liverpool  Aston Villa  2 - 0    2    0
97    West Ham    Newcastle  3 - 1    3    1
98    Man City  Bournemouth  3 - 1    3    1
99  Sunderland      Everton  1 - 1    1    1

In [24]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [25]:
#df_rezultatski[0:380] #sezona 23/4 od 0:380
#df_rezultatski[380:759] #sezona 24/5 od 380:759
#df_rezultatski[760:] #sezona25/6 od 760:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [26]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [27]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

Kopiraj - Izmjeni celiju ispod sa gore izracunatim vrijednostima indeksa sezona

#df_rezultatski[0:380] #sezona 23/4 od 0:380
#df_rezultatski[380:759] #sezona 24/5 od 380:759
#df_rezultatski[760:] #sezona25/6 od 760:

In [28]:
#sezona 23/4
skor23_4 = skor[0:380]
skor24_5 = skor[380:760]
skor25_6 = skor[760:]

In [29]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_9792\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [30]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_9792\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [31]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [32]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [33]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [34]:
finalna_provjera[-5:-1]

             H            A Rezultat  Skor
855      Spurs      Chelsea    0 - 1  -1.0
856  Liverpool  Aston Villa    2 - 0   1.0
857   West Ham    Newcastle    3 - 1   1.0
858   Man City  Bournemouth    3 - 1   1.0

# Konačni df - Podaci su Sređeni

In [35]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [36]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [37]:
df_BL.head(5)

,H_Aston Villa,H_Bournemouth,H_Brentford,H_Brighton,H_Burnley,H_Chelsea,H_Crystal Palace,H_Everton,H_Fulham,H_Ipswich,...,A_Man Utd,A_Newcastle,A_Nottingham Forest,A_Sheffield Utd,A_Southampton,A_Spurs,A_Sunderland,A_West Ham,A_Wolves,Skor
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.71
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.00
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.71
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71

In [38]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_epl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [39]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [40]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_Aston Villa,H_Bournemouth,H_Brentford,H_Brighton,H_Burnley,H_Chelsea,H_Crystal Palace,H_Everton,H_Fulham,H_Ipswich,...,A_Man City,A_Man Utd,A_Newcastle,A_Nottingham Forest,A_Sheffield Utd,A_Southampton,A_Spurs,A_Sunderland,A_West Ham,A_Wolves
78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
211,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.22722331, -0.22722331, -0.21762651, ..., -0.072075  ,
        -0.22406144, -0.22406144],
       [-0.22722331, -0.22722331, -0.21762651, ..., -0.072075  ,
         4.46306161, -0.22406144],
       [-0.22722331, -0.22722331, -0.21762651, ..., -0.072075  ,
        -0.22406144, -0.22406144],
       ...,
       [-0.22722331, -0.22722331, -0.21762651, ..., -0.072075  ,
        -0.22406144, -0.22406144],
       [-0.22722331, -0.22722331, -0.21762651, ..., -0.072075  ,
        -0.22406144, -0.22406144],
       [-0.22722331, -0.22722331, -0.21762651, ..., -0.072075  ,
        -0.22406144, -0.22406144]])

In [42]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [43]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [44]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [45]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                784

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 801
Trainable params: 801
Non-trainable params: 0
_________________________________________________________________

In [46]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [47]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
25/25 [==============================] - 5s 59ms/step - loss: 0.7110 - mae: 0.7110 - val_loss: 0.7986 - val_mae: 0.7986
Epoch 2/50
25/25 [==============================] - 0s 14ms/step - loss: 0.6778 - mae: 0.6778 - val_loss: 0.7754 - val_mae: 0.7754
Epoch 3/50
25/25 [==============================] - 0s 14ms/step - loss: 0.6522 - mae: 0.6522 - val_loss: 0.7520 - val_mae: 0.7520
Epoch 4/50
25/25 [==============================] - 0s 16ms/step - loss: 0.6297 - mae: 0.6297 - val_loss: 0.7308 - val_mae: 0.7308
Epoch 5/50
25/25 [==============================] - 0s 14ms/step - loss: 0.6085 - mae: 0.6085 - val_loss: 0.7086 - val_mae: 0.7086
Epoch 6/50
25/25 [==============================] - 0s 14ms/step - loss: 0.5895 - mae: 0.5895 - val_loss: 0.6930 - val_mae: 0.6930
Epoch 7/50
25/25 [==============================] - 0s 13ms/step - loss: 0.5746 - mae: 0.5746 - val_loss: 0.6818 - val_mae: 0.6818
Epoch 8/50
25/25 [==============================] - 1s 23ms/step - loss: 0.5599 - mae: 0.5599 - val_loss: 0.6636 - val_mae: 0.6636
Epoch 9/50
25/25 [==============================] - 0s 20ms/step - loss: 0.5454 - mae: 0.5454 - val_loss: 0.6524 - val_mae: 0.6524
Epoch 10/50
25/25 [==============================] - 0s 15ms/step - loss: 0.5340 - mae: 0.5340 - val_loss: 0.6401 - val_mae: 0.6401
Epoch 11/50
25/25 [==============================] - 0s 19ms/step - loss: 0.5239 - mae: 0.5239 - val_loss: 0.6279 - val_mae: 0.6279
Epoch 12/50
25/25 [==============================] - 0s 20ms/step - loss: 0.5136 - mae: 0.5136 - val_loss: 0.6160 - val_mae: 0.6160
Epoch 13/50
25/25 [==============================] - 0s 17ms/step - loss: 0.5048 - mae: 0.5048 - val_loss: 0.6074 - val_mae: 0.6074
Epoch 14/50
25/25 [==============================] - 0s 16ms/step - loss: 0.4975 - mae: 0.4975 - val_loss: 0.6012 - val_mae: 0.6012
Epoch 15/50
25/25 [==============================] - 0s 16ms/step - loss: 0.4907 - mae: 0.4907 - val_loss: 0.5962 - val_mae: 0.5962
Epoch 16/50
25/25 [==============================] - 0s 17ms/step - loss: 0.4841 - mae: 0.4841 - val_loss: 0.5904 - val_mae: 0.5904
Epoch 17/50
25/25 [==============================] - 0s 19ms/step - loss: 0.4789 - mae: 0.4789 - val_loss: 0.5877 - val_mae: 0.5877
Epoch 18/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4732 - mae: 0.4732 - val_loss: 0.5835 - val_mae: 0.5835
Epoch 19/50
25/25 [==============================] - 0s 16ms/step - loss: 0.4679 - mae: 0.4679 - val_loss: 0.5765 - val_mae: 0.5765
Epoch 20/50
25/25 [==============================] - 1s 21ms/step - loss: 0.4623 - mae: 0.4623 - val_loss: 0.5735 - val_mae: 0.5735
Epoch 21/50
25/25 [==============================] - 0s 20ms/step - loss: 0.4577 - mae: 0.4577 - val_loss: 0.5750 - val_mae: 0.5750
Epoch 22/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4538 - mae: 0.4538 - val_loss: 0.5734 - val_mae: 0.5734
Epoch 23/50
25/25 [==============================] - 0s 20ms/step - loss: 0.4494 - mae: 0.4494 - val_loss: 0.5733 - val_mae: 0.5733
Epoch 24/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4446 - mae: 0.4446 - val_loss: 0.5700 - val_mae: 0.5700
Epoch 25/50
25/25 [==============================] - 1s 27ms/step - loss: 0.4401 - mae: 0.4401 - val_loss: 0.5703 - val_mae: 0.5703
Epoch 26/50
25/25 [==============================] - 0s 16ms/step - loss: 0.4361 - mae: 0.4361 - val_loss: 0.5706 - val_mae: 0.5706
Epoch 27/50
25/25 [==============================] - 1s 22ms/step - loss: 0.4327 - mae: 0.4327 - val_loss: 0.5710 - val_mae: 0.5710
Epoch 28/50
25/25 [==============================] - 0s 16ms/step - loss: 0.4286 - mae: 0.4286 - val_loss: 0.5720 - val_mae: 0.5720
Epoch 29/50
25/25 [==============================] - 0s 17ms/step - loss: 0.4251 - mae: 0.4251 - val_loss: 0.5746 - val_mae: 0.5746
Epoch 30/50
25/25 [==============================] - 0s 18ms/step - loss: 0.4219 - mae: 0.4219 - val_loss: 0.5745 - val_mae: 0.5745
Epoch 31/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4194 - mae: 0.4194 - val_loss: 0.5700 - val_mae: 0.5700
Epoch 32/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4159 - mae: 0.4159 - val_loss: 0.5737 - val_mae: 0.5737
Epoch 33/50
25/25 [==============================] - 0s 14ms/step - loss: 0.4140 - mae: 0.4140 - val_loss: 0.5729 - val_mae: 0.5729
Epoch 34/50
25/25 [==============================] - 0s 14ms/step - loss: 0.4108 - mae: 0.4108 - val_loss: 0.5762 - val_mae: 0.5762
Epoch 35/50
25/25 [==============================] - 0s 13ms/step - loss: 0.4096 - mae: 0.4096 - val_loss: 0.5791 - val_mae: 0.5791
Epoch 36/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4071 - mae: 0.4071 - val_loss: 0.5734 - val_mae: 0.5734
Epoch 37/50
25/25 [==============================] - 0s 14ms/step - loss: 0.4041 - mae: 0.4041 - val_loss: 0.5732 - val_mae: 0.5732
Epoch 38/50
25/25 [==============================] - 0s 14ms/step - loss: 0.4022 - mae: 0.4022 - val_loss: 0.5805 - val_mae: 0.5805
Epoch 39/50
25/25 [==============================] - 0s 14ms/step - loss: 0.4011 - mae: 0.4011 - val_loss: 0.5777 - val_mae: 0.5777
Epoch 40/50
25/25 [==============================] - 0s 14ms/step - loss: 0.3984 - mae: 0.3984 - val_loss: 0.5786 - val_mae: 0.5786
Epoch 41/50
25/25 [==============================] - 0s 14ms/step - loss: 0.3952 - mae: 0.3952 - val_loss: 0.5755 - val_mae: 0.5755

In [48]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 9ms/step - loss: 0.5700 - mae: 0.5700

In [49]:
#spremanje modela
model.save("epl_float_model.h5")

In [50]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.